@import url(
    'https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap'
);
@import url(
    'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'
);
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');

@import url(
    'https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,600&display=swap'
);

@import url(
  'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap'
);

.camviz_tooltip {
  position: relative;
  display: inline-block;
}

.camviz_tooltip .camviz_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opaque: */
  opacity: 0;
  transition: opacity 1s;
}

.camviz_tooltip:hover .camviz_tooltiptext {
  visibility: visible;
  opacity: 1;
}

.flx-Widget.scrollable_group, .scrollable_group {
  margin: 1%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: center;
}
.scrollable_group > .flx-Layout {
  width: calc(100% - 10px) !important;
  height: calc(100% - 25px) !important;
}

/*******************************************************************************
* Feature Explorer Classes
*******************************************************************************/
.select-container {
  text-align: center;
}

.select-label {
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
}

.class-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  margin: 1% 2% 1% 2%;
}

.axis-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  font-weight: bold;
}

.feature-selection-box {

}

.feature-explorer-title {
  margin-top: 1%;
  margin-bottom: 2%;
}

.threshold-visualizer-control-panel {
  background-color: #e9bdcb
}